# some keras settings
account=
epochs=

# the number of tweets you want to generate
tweet_count=1

# whether or not to update the model, if it already exists
# put 1 or T, if so. if not, leave this blank
update_flag=

# some database settings
rdbms=postgres
host=
user=
password=
database=project
schema=wtm
dns=${rdbms}://${user}:${password}@${host}/${database}

#Tweetering
twitter_api=
twitter_secret= 
twitter_access_token=
twitter_access_token_secret=